@model List<Module> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var module in Model)
        {
            <tr>
                <td>@module.Name</td>
                <td>@module.Price</td>
            </tr>
        }
        </tbody>
    </table>

</div>